/.*
/*.bak
/Makefile
/Makefile.in
/gp11.args
/gp11.hierarchy
/gp11.interfaces
/gp11.prerequisites
/gp11.signals
/gp11-decl.txt
/gp11-decl-list.txt
/gp11-overrides.txt
/gp11-undocumented.txt
/gp11-unused.txt
/*.stamp
/xml
/html
