*~
*.1
*.o
*.i
*.la
*.lo
*.a
*.bak
*.Po
*.Plo
*.prj
*.pws
*.swp
*.tmp
*.anjuta
.anjuta*
*.tar.gz
.*project
.settings
.csettings
*.orig
*.stamp
.deps
.libs
00*-*.patch
stamp-*
Makefile
Makefile.in
Makefile.local
core
test-suite.[ch]
run-tests
*-marshal.[ch]
.libs
.deps
.dirstamp
.anjuta*
*.gcov
*.gcno
*.gcda
*.valid
*.abi
*.pc
*.gir
*.typelib
p11-tests.conf

compile
/ABOUT-NLS
aclocal.m4
autom4te.cache
confdefs.h
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.sub
/configure
install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
/gnome-keyring-ask
/gnome-keyring-daemon
/list-keyrings
/test-keyring
/test-keyring-two
/gnome-keyring-1.pc
/gnome-keyring-1-uninstalled.pc
/gtk-doc.make
depcomp
/junk
/TODO.tasks

/test-*
/frob-*
/dump-*
/*-standalone
/gnome-keyring-3
/valgrind-suppressions

/build/coverage
/build/test-driver

/docs/*/html/
/docs/gnome-keyring-daemon/prompter.xml

/egg/tests/test-armor
/egg/tests/test-asn1
/egg/tests/test-cleanup
/egg/tests/test-decimal
/egg/tests/test-dh
/egg/tests/test-dn
/egg/tests/test-file-tracker
/egg/tests/test-hex
/egg/tests/test-hkdf
/egg/tests/test-oid
/egg/tests/test-openssl
/egg/tests/test-padding
/egg/tests/test-secmem
/egg/tests/test-spawn
/egg/tests/test-symkey

/daemon/control/tests/frob-control-change
/daemon/control/tests/frob-control-init
/daemon/control/tests/frob-control-quit
/daemon/control/tests/frob-control-unlock

/daemon/dbus/tests/test-secret-*
!/daemon/dbus/tests/test-secret-*.c
/daemon/dbus/gkd-daemon-generated.c
/daemon/dbus/gkd-daemon-generated.h
/daemon/dbus/gkd-internal-generated.c
/daemon/dbus/gkd-internal-generated.h
/daemon/dbus/gkd-secrets-generated.c
/daemon/dbus/gkd-secrets-generated.h

/pkcs11/gkm/tests/test-attributes
/pkcs11/gkm/tests/test-certificate
/pkcs11/gkm/tests/test-credential
/pkcs11/gkm/tests/test-data-asn1
/pkcs11/gkm/tests/test-data-der
/pkcs11/gkm/tests/test-memory-store
/pkcs11/gkm/tests/test-object
/pkcs11/gkm/tests/test-secret
/pkcs11/gkm/tests/test-sexp
/pkcs11/gkm/tests/test-store
/pkcs11/gkm/tests/test-timer
/pkcs11/gkm/tests/test-transaction

/pkcs11/gnome2-store/tests/frob-gnome2-file
/pkcs11/gnome2-store/tests/test-*
!/pkcs11/gnome2-store/tests/test-*.c
/pkcs11/gnome2-store/tests/check-gnome2-module
/pkcs11/gnome2-store/tests/check-module

/pkcs11/rpc-layer/gnome-keyring-module
/pkcs11/rpc-layer/gnome-keyring.module

/pkcs11/secret-store/tests/test-secret-binary
/pkcs11/secret-store/tests/test-secret-collection
/pkcs11/secret-store/tests/test-secret-compat
/pkcs11/secret-store/tests/test-secret-data
/pkcs11/secret-store/tests/test-secret-fields
/pkcs11/secret-store/tests/test-secret-item
/pkcs11/secret-store/tests/test-secret-object
/pkcs11/secret-store/tests/test-secret-search
/pkcs11/secret-store/tests/test-secret-schema
/pkcs11/secret-store/tests/test-secret-textual
/pkcs11/secret-store/tests/dump-keyring0-format

/pkcs11/ssh-store/tests/check-ssh-module
/pkcs11/ssh-store/tests/test-private-key
/pkcs11/ssh-store/tests/test-ssh-openssh

/pkcs11/wrap-layer/tests/test-create-credential
/pkcs11/wrap-layer/tests/test-init-pin
/pkcs11/wrap-layer/tests/test-login-auto
/pkcs11/wrap-layer/tests/test-login-hints
/pkcs11/wrap-layer/tests/test-login-keyring
/pkcs11/wrap-layer/tests/test-login-specific
/pkcs11/wrap-layer/tests/test-login-user
/pkcs11/wrap-layer/tests/test-set-pin

/pkcs11/xdg-store/tests/check-xdg-module
/pkcs11/xdg-store/tests/frob-trust-file
/pkcs11/xdg-store/tests/test-xdg-module
/pkcs11/xdg-store/tests/test-xdg-trust

/schema/gschemas.compiled

/ui/gnome-keyring-prompt.desktop
/ui/gnome-keyring-prompt.desktop.in
/ui/tests/test-util

/docs/reference/*/*-scan
/docs/reference/*/*-scan.c
