*~
*.o
*.i
*.la
*.lo
*.a
*.bak
*.Po
*.Plo
*.prj
*.pws
*.tmp
*.anjuta
.anjuta*
*.tar.gz
.*project
.settings
.csettings
*.orig
*.stamp
.deps
.libs
00*-*.patch
stamp-*
Makefile
Makefile.in
Makefile.local
core
test-suite.[ch]
run-tests
*-marshal.[ch]
.libs
.deps
.anjuta*
*.gcov
*.gcno
*.gcda
*.valid

/compile
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltconfig
/ltmain.sh
/missing
/mkinstalldirs
/obj
/gnome-keyring-ask
/gnome-keyring-daemon
/list-keyrings
/test-keyring
/test-keyring-two
/gnome-keyring-1.pc
/gnome-keyring-1-uninstalled.pc
/gtk-doc.make
/depcomp
/junk
/TODO.tasks

# Old directories
/gp11
/docs/reference/gp11
/docs/reference/gck/version.xml
/docs/reference/gcr/version.xml

/egg/tests/test-asn1
/egg/tests/test-cleanup
/egg/tests/test-dh
/egg/tests/test-dn
/egg/tests/test-hex
/egg/tests/test-oid
/egg/tests/test-openssl
/egg/tests/test-padding
/egg/tests/test-secmem
/egg/tests/test-spawn
/egg/tests/test-symkey

/gck/tests/test-gck-attributes
/gck/tests/test-gck-crypto
/gck/tests/test-gck-enumerator
/gck/tests/test-gck-module
/gck/tests/test-gck-modules
/gck/tests/test-gck-object
/gck/tests/test-gck-session
/gck/tests/test-gck-slot
/gck/tests/test-gck-uri

/gcr/tests/frob-certificate
/gcr/tests/frob-key
/gcr/tests/frob-unlock-options
/gcr/tests/test-certificate
/gcr/tests/test-certificate-chain
/gcr/tests/test-parser
/gcr/tests/test-pkcs11-certificate
/gcr/tests/test-simple-certificate
/gcr/tests/test-trust

/daemon/dbus/tests/test-secret-util

/ui/gnome-keyring-prompt.desktop
/ui/gnome-keyring-prompt.desktop.in
