*~
*.o
*.la
*.lo
*.a
*.bak
*.Po
*.Plo
*.prj
*.pws
*.tmp
*.anjuta
.anjuta*
*.tar.gz
.*project
.settings
.csettings
*.orig
*.stamp
.deps
.libs
stamp-*
Makefile
Makefile.in
core
test-suite.[ch]
run-tests
*-marshal.[ch]
.libs
.deps
.anjuta*
*.gcov
*.gcno
*.gcda
*.valid

/compile
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltconfig
/ltmain.sh
/missing
/mkinstalldirs
/obj
/gnome-keyring-ask
/gnome-keyring-daemon
/list-keyrings
/test-keyring
/test-keyring-two
/gnome-keyring-1.pc
/gnome-keyring-1-uninstalled.pc
/gtk-doc.make
/depcomp
/junk
/TODO.tasks
