/gnome-keyring-daemon
/org.gnome.keyring.service
/org.freedesktop.secrets.service
/gnome-keyring-gpg.desktop
/gnome-keyring-gpg.desktop.in
/gnome-keyring-pkcs11.desktop
/gnome-keyring-pkcs11.desktop.in
/gnome-keyring-secrets.desktop
/gnome-keyring-secrets.desktop.in
/gnome-keyring-ssh.desktop
/gnome-keyring-ssh.desktop.in
