/gnome-keyring-daemon
/gnome-keyring-daemon.service
/org.gnome.keyring.service
/org.freedesktop.secrets.service
/org.freedesktop.impl.portal.Secret.service
/gnome-keyring-pkcs11.desktop
/gnome-keyring-pkcs11.desktop.in
/gnome-keyring-secrets.desktop
/gnome-keyring-secrets.desktop.in
/gnome-keyring-ssh.desktop
/gnome-keyring-ssh.desktop.in
