/*.gmo
/*.mo
/*.pot
/.intltool-merge-cache
/Makefile.in.in
/Makevars.template
/POTFILES
/Rules-quot
/boldquot.sed
/cat-id-tbl.c
/en@boldquot.header
/en@quot.header
/insert-header.sin
/messages
/missing
/po2tbl.sed
/po2tbl.sed.in
/quot.sed
/remove-potcdate.sin
/stamp-cat-id
/stamp-it
